

.main-card,mat-card-header {
  margin: auto;
}
mat-form-field{
  width: 30%;
  padding-left:4em ;
}
button{
  margin-left: 4em;
  margin-top: 3em;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}
